#textbox {
  font-family: "Albert Sans", sans-serif;
  height: 1cm auto;
  width: 100%;
  margin: 5px auto;
  font-size: large;
}
.Search {
  font-family: "Albert Sans", sans-serif;
  align-content: center;
  width: 27%;
  padding: 10px;
  margin-top: 20px;
  height: 100%;
}
.Month {
  font-family: "Albert Sans", sans-serif;
  height: 1cm auto;
  width: 35%;
  margin: 5px auto;
  font-size: large;
}
